* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(107, 239, 215);
    color: black;
    display: flex;
}

.container {
    padding: 150px 150px;
    align-items: center;
    margin: 100px;
    border-radius: 15px;
    background-color: rgb(255, 198, 198);
}
.heading {
    color: rgb(22, 171, 188);
    padding: 25px 0px;
}
button {
    background-color: rgb(202, 42, 213);
    color: rgb(0, 0, 0);
    margin: 12px 0px;
    padding: 8px 8px;
    border-radius: 15px;
    border: hidden;
}
.imput {
    margin: 12px 0px;
    padding: 8px 12px;
    border-radius: 6px;
    border: hidden;
    color: rgb(0, 0, 0);
    /* border: 1px solid black; */
    background-color: white;
}
